
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<!-- Mirrored from d29u17ylf1ylz9.cloudfront.net/ororus-v1/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Aug 2018 03:21:05 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ororus - eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="robots" content="noindex, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Assets/website/images/favicon.ico">


    <!-- CSS files
    ============================================ -->

    <!-- Boostrap stylesheet -->
    <link rel="stylesheet" href="~/Assets/website/css/bootstrap.min.css">
    
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/Assets/website/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/website/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/website/css/pe-icon-7-stroke.css">

    <!-- Plugins stylesheet -->
    <link rel="stylesheet" href="~/Assets/website/css/plugins.css">

    <!-- Master stylesheet -->
    <link rel="stylesheet" href="~/Assets/website/css/style.css">

    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/Assets/website/css/responsive.css">

    <!-- modernizr JS
    ============================================ -->
    <script src="~/Assets/website/js/modernizr-2.8.3.min.js"></script>
</head>

<body>

    <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please upgrade your browser to improve your experience.</p>
    <![endif]-->

    <!-- Start of Whole Site Wrapper with mobile menu support -->
    <div id="whole" class="whole-site-wrapper color-scheme-two">
        <!-- Start of Header -->
        <header class="header with-bg white-scheme">
            <div class="header-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 align-self-center">
                            <div class="logo">
                                <a href="@Url.Action("Index", "Home")"><img src="~/Assets/website/images/logo2.png" alt="Logo" class="img-fluid"></a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-9">
                            <div class="top-header">
                                <div class="row align-items-center">
                                    <div class="col-12 col-sm-12 col-md-7 col-lg-6 order-md-2 order-lg-1">
                                        <div class="top-search">
                                            <p>Xu hướng: <a href="#">Laptop & Macbook</a>, <a href="#">Linh kiện máy tính</a>...</p>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 order-md-1 order-lg-2">
                                        <ul class="list-inline">
                                            <li class="top-links list-inline-item">
                                                <div class="btn-group">
                                                    <button class="btn-link dropdown-toggle">Tài khoản <i class="fa fa-angle-down"></i></button>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="#">Đăng nhập</a></li>
                                                            <li><a href="#">Đăng ký</a></li>
                                                            <li><a href="#">Giỏ hàng</a></li>
                                                            <li><a href="#">Thanh toán</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="language list-inline-item">
                                                <div class="btn-group">
                                                    <button class="btn-link dropdown-toggle"><img src="~/Assets/website/images/icons/en-gb.png" alt="Icons"> Tiếng Anh <i class="fa fa-angle-down"></i></button>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="#"><img src="~/Assets/website/images/icons/en-gb.png" alt="Icons"> Tiếng Anh</a></li>
                                                            <li><a href="#"><img src="~/Assets/website/images/icons/fr-fr.png" alt="Icons"> Tiến Pháp</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="currency list-inline-item">
                                                <div class="btn-group">
                                                    <button class="btn-link dropdown-toggle"> VNĐ <i class="fa fa-angle-down"></i></button>
                                                    <div class="dropdown-menu">
                                                        <ul>
                                                            <li><a href="#">€ Euro</a></li>
                                                            <li><a href="#">£ Pound Sterling</a></li>
                                                            <li><a href="#">$ US Dollar</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- end of top-header -->

                            <div class="bottom-header">
                                <div class="row align-items-center">
                                    <div class="col-12 col-sm-12 col-md-7 col-lg-7">
                                        <div class="header-search-area">
                                            <div class="search-categories">
                                                <form action="#">
                                                    <div class="search-form-input">
                                                        <select id="select" name="select" class="nice-select">
                                                            <option>Tất cả danh mục</option>
                                                            <option>Gamepad</option>
                                                            <option>Laptop</option>
                                                            <option>Mobile</option>
                                                            <option>Cell Phones</option>
                                                            <option>Phone Cases</option>
                                                            <option>Cell Phones</option>
                                                            <option>SmartWatch</option>
                                                            <option>Tvs</option>
                                                            <option>D-Series TVs</option>
                                                            <option>LED TVs</option>
                                                            <option>OLED TVs</option>
                                                            <option>Video Games</option>
                                                            <option>Controllers</option>
                                                            <option>PC Gamepads</option>
                                                            <option>Xbox 360</option>
                                                            <option>Shop</option>
                                                            <option>Earbud</option>
                                                            <option>Keyboard</option>
                                                            <option>Watches</option>
                                                            <option>Blazers</option>
                                                            <option>Microphones</option>
                                                        </select>
                                                        <div class="search-wrapper">
                                                            <input type="text" placeholder="Tìm kiếm">
                                                            <button class="header-search-btn" type="submit"><i class="ion ion-ios-search"></i></button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div> <!-- end of header-search-area -->
                                    </div>
                                    <div class="col-12 col-sm-12 col-md-5 col-lg-5">
                                        <div class="header-cart-area">
                                            <div class="header-cart">
                                                <div class="btn-group">
                                                    <button class="btn-link dropdown-toggle icon-cart">
                                                        <i class="pe-7s-cart"></i>
                                                        <span class="count-style">2</span>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <div class="shopping-cart-content">
                                                            <ul class="list-unstyled">
                                                                <li class="single-cart-item media">
                                                                    <div class="shopping-cart-img mr-4">
                                                                        <a href="#">
                                                                            <img class="img-fluid" alt="Cart Item" src="~/Assets/website/images/cart/cart-1.jpg">
                                                                            <span class="product-quantity">1x</span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="shopping-cart-title media-body">
                                                                        <h4><a href="#">Donec Ac Tempus</a></h4>
                                                                        <p class="cart-price">$120.00</p>
                                                                        <div class="product-attr">
                                                                            <span>Size: S</span>
                                                                            <span>Color: Black</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="shopping-cart-delete">
                                                                        <a href="#"><i class="ion ion-md-close"></i></a>
                                                                    </div>
                                                                </li>
                                                                <li class="single-cart-item media">
                                                                    <div class="shopping-cart-img mr-4">
                                                                        <a href="#">
                                                                            <img class="img-fluid" alt="Cart Item" src="~/Assets/website/images/cart/cart-2.jpg">
                                                                            <span class="product-quantity">2x</span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="shopping-cart-title media-body">
                                                                        <h4><a href="#">Aliquam Consequat</a></h4>
                                                                        <p class="cart-price">$200.00</p>
                                                                        <div class="product-attr">
                                                                            <span>Color: White</span>
                                                                            <span>Accessories: Yes</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="shopping-cart-delete">
                                                                        <a href="#"><i class="ion ion-md-close"></i></a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <div class="shopping-cart-total">
                                                                <h4>Sub-Total : <span>$320.00</span></h4>
                                                                <h4>Total : <span>$320.00</span></h4>
                                                            </div>
                                                            <div class="shopping-cart-btn">
                                                                <a class="default-btn" href="cart.html">view cart</a>
                                                                <a class="default-btn" href="checkout.html">checkout</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="header-contact media">
                                                <div class="header-contact-icon mr-4">
                                                    <i class="pe-7s-headphones"></i>
                                                </div>
                                                <div class="header-contact-content media-body">
                                                    <p><span>Gọi ngay:</span> <br><a href="#">+84 123.456.789</a></p>
                                                </div>
                                            </div>
                                        </div> <!-- end of header-cart-area -->
                                    </div>
                                </div>
                            </div> <!-- end of bottom-header -->
                        </div>
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of header-area -->
            <!-- Start of Main and Mobile Navigation -->
            <div class="main-nav-area transparent-nav">
                <div class="container">
                    <nav id="main_nav" class="stellarnav">
                        <ul class="text-left">
                            <li>
                                <a href="@Url.Action("List", "Product", new { @CategoryID = 0 })"><span>Sản phẩm</span></a>
                            </li>
                            <li>
                                <a href="#"><span>Danh mục</span></a>
                                <ul>
                                    @foreach (var item in ViewBag.Category)
                                    {
                                        <li><a href="@Url.Action("List", "Product", new { @CategoryID = item.ID })">@item.Name</a></li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div> <!-- end of container -->
            </div>
            <!-- End of Main and Mobile Navigation -->
        </header>
        <!-- End of Header -->

        <div class="fixed-header-space"></div> <!-- empty placeholder div for Fixed Menu bar height-->

        @RenderBody()

        <!-- Start of Footer -->
        <footer id="colophon">
            <!-- Footer Copyright -->
            <div class="footer-copyright">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <p class="copyright-text">Trần Quang Đăng - 1811505310202</p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="footer-payment">
                                <ul>
                                    <li><a href="#"><img src="~/Assets/website/images/icons/payment-1.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="~/Assets/website/images/icons/payment-2.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="~/Assets/website/images/icons/payment-3.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="~/Assets/website/images/icons/payment-4.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="~/Assets/website/images/icons/payment-5.jpg" alt="Payment Icons"></a></li>
                                    <li><a href="#"><img src="~/Assets/website/images/icons/payment-6.jpg" alt="Payment Icons"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div> <!-- end of footer-copyright -->
        </footer>
        <!-- End of Footer -->
        <!-- Quick View Content Start -->
        <div class="product-quick-view">
            <div class="container">
                <!-- Start of Modal -->
                <div class="modal fade" id="product_quick_view">
                    <div class="modal-dialog modal-lg modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div> <!-- end of modal-header -->

                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="product-gallery">
                                            <div class="gallery-with-thumbs">
                                                <div class="product-full-image main-slider image-popup">

                                                    <!-- Slides -->
                                                    <div class="swiper-wrapper">
                                                        <figure class="swiper-slide">
                                                            <a href="~/Assets/website/images/products/single/product-1.jpg" data-size="800x800">
                                                                <img src="~/Assets/website/images/products/single/product-1.jpg" alt="Product Image">
                                                                <div class="image-overlay"><i class="pe-7s-expand1"></i></div>
                                                            </a>
                                                            <figcaption class="visually-hidden">
                                                                <span>Product Image</span>
                                                            </figcaption>
                                                        </figure>
                                                        <figure class="swiper-slide">
                                                            <a href="~/Assets/website/images/products/single/product-2.jpg" data-size="800x800">
                                                                <img src="~/Assets/website/images/products/single/product-2.jpg" alt="Product Image">
                                                                <div class="image-overlay"><i class="pe-7s-expand1"></i></div>
                                                            </a>
                                                            <figcaption class="visually-hidden">
                                                                <span>Product Image</span>
                                                            </figcaption>
                                                        </figure>
                                                        <figure class="swiper-slide">
                                                            <a href="~/Assets/website/images/products/single/product-3.jpg" data-size="800x800">
                                                                <img src="~/Assets/website/images/products/single/product-3.jpg" alt="Product Image">
                                                                <div class="image-overlay"><i class="pe-7s-expand1"></i></div>
                                                            </a>
                                                            <figcaption class="visually-hidden">
                                                                <span>Product Image</span>
                                                            </figcaption>
                                                        </figure>
                                                        <figure class="swiper-slide">
                                                            <a href="~/Assets/website/images/products/single/product-4.jpg" data-size="800x800">
                                                                <img src="~/Assets/website/images/products/single/product-4.jpg" alt="Product Image">
                                                                <div class="image-overlay"><i class="pe-7s-expand1"></i></div>
                                                            </a>
                                                            <figcaption class="visually-hidden">
                                                                <span>Product Image</span>
                                                            </figcaption>
                                                        </figure>
                                                        <figure class="swiper-slide">
                                                            <a href="~/Assets/website/images/products/single/product-5.jpg" data-size="800x800">
                                                                <img src="~/Assets/website/images/products/single/product-5.jpg" alt="Product Image">
                                                                <div class="image-overlay"><i class="pe-7s-expand1"></i></div>
                                                            </a>
                                                            <figcaption class="visually-hidden">
                                                                <span>Product Image</span>
                                                            </figcaption>
                                                        </figure>
                                                        <figure class="swiper-slide">
                                                            <a href="~/Assets/website/images/products/single/product-6.jpg" data-size="800x800">
                                                                <img src="~/Assets/website/images/products/single/product-6.jpg" alt="Product Image">
                                                                <div class="image-overlay"><i class="pe-7s-expand1"></i></div>
                                                            </a>
                                                            <figcaption class="visually-hidden">
                                                                <span>Product Image</span>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </div> <!-- end of product-full-image -->

                                                <div class="product-thumb-image pos-r">
                                                    <div class="nav-slider">
                                                        <!-- Slides -->
                                                        <div class="swiper-wrapper">
                                                            <div class="swiper-slide">
                                                                <img src="~/Assets/website/images/products/single/product-thumb-1.jpg" alt="Product Thumbnail Image">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img src="~/Assets/website/images/products/single/product-thumb-2.jpg" alt="Product Thumbnail Image">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img src="~/Assets/website/images/products/single/product-thumb-3.jpg" alt="Product Thumbnail Image">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img src="~/Assets/website/images/products/single/product-thumb-4.jpg" alt="Product Thumbnail Image">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img src="~/Assets/website/images/products/single/product-thumb-5.jpg" alt="Product Thumbnail Image">
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <img src="~/Assets/website/images/products/single/product-thumb-6.jpg" alt="Product Thumbnail Image">
                                                            </div>
                                                        </div>

                                                        <!-- Navigation -->
                                                        <div class="swiper-arrow next"><i class="fa fa-angle-right"></i></div>
                                                        <div class="swiper-arrow prev"><i class="fa fa-angle-left"></i></div>
                                                    </div>
                                                </div> <!-- end of product-thumb-image -->
                                            </div> <!-- end of gallery-with-thumbs -->
                                        </div> <!-- end of product-gallery -->
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6">
                                        <div class="product-details">
                                            <h3 class="product-name">Cas Meque Metus</h3>
                                            <div class="product-ratings">
                                                <ul class="rating d-flex">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <div class="product-price">
                                                <p class="d-flex align-items-center">
                                                    <span class="price-old">16.51</span>
                                                    <span class="price-new">$15.19</span>
                                                    <span class="price-discount">-5%</span>
                                                </p>
                                            </div>
                                            <div class="product-description">
                                                <p>The best is yet to come! Give your walls a voice with a framed poster. This aesthethic, optimistic poster will look great in your desk or in an open-space office. Painted wooden frame with passe-partout for more depth.</p>
                                            </div>
                                            <div class="product-actions">
                                                <h3>Available Options</h3>
                                                <div class="product-size clearfix">
                                                    <label>Size</label>
                                                    <select class="nice-select">
                                                        <option>S</option>
                                                        <option>M</option>
                                                        <option>L</option>
                                                    </select>
                                                </div>
                                                <div class="product-color clearfix">
                                                    <label>color</label>
                                                    <ul class="color-list">
                                                        <li>
                                                            <a class="white" href="#"></a>
                                                        </li>
                                                        <li>
                                                            <a class="orange active" href="#"></a>
                                                        </li>
                                                        <li>
                                                            <a class="paste" href="#"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="product-stock">
                                                    <label>Quantity</label>
                                                    <ul class="d-flex flex-wrap align-items-center">
                                                        <li class="box-quantity">
                                                            <form action="#">
                                                                <input class="quantity" type="number" min="1" value="1">
                                                            </form>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="default-btn">Add to Cart</button>
                                                        </li>
                                                        <li class="product-availability">
                                                            <p><span class="in-stock"><i class="ion ion-md-checkmark-circle-outline"></i> in stock</span></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="wishlist-compare">
                                                    <button class="btn-wishlist" type="button" title="Add to Wishlist">Add to Wishlist</button>
                                                    <button class="btn-compare" type="button" title="Add to Compare">Add to Compare</button>
                                                </div>
                                            </div>
                                        </div> <!-- end of product-details -->
                                    </div>
                                </div> <!-- end of row -->
                            </div> <!-- end of modal-body -->

                            <div class="modal-footer justify-content-start">
                                <div class="social-sharing d-flex align-items-center">
                                    <span>Share</span>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="#" class="bg-facebook" data-toggle="tooltip" data-position="top" data-original-title="Facebook" target="_blank"><i class="fa fa-facebook"></i><span>Share</span></a></li>
                                        <li class="list-inline-item"><a href="#" class="bg-twitter" data-toggle="tooltip" data-position="top" data-original-title="Twitter" target="_blank"><i class="fa fa-twitter"></i><span>Tweet</span></a></li>
                                        <li class="list-inline-item"><a href="#" class="bg-gplus" data-toggle="tooltip" data-position="top" data-original-title="Google Plus" target="_blank"><i class="fa fa-google-plus"></i><span>Google+</span></a></li>
                                        <li class="list-inline-item"><a href="#" class="bg-pinterest" data-toggle="tooltip" data-position="top" data-original-title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
                                    </ul>
                                </div>
                            </div> <!-- end of modal-footer -->
                        </div> <!-- end of modal-content -->
                    </div> <!-- end of modal-dialog -->
                </div> <!-- end of modal -->
            </div> <!-- end of container -->
        </div>
        <!-- Quick View Content End -->
        <!-- Start of Scroll to Top -->
        <div id="to_top">
            <i class="ion ion-ios-arrow-forward"></i>
            <i class="ion ion-ios-arrow-forward"></i>
        </div>
        <!-- End of Scroll to Top -->
    </div>
    <!-- End of Whole Site Wrapper -->

    <!-- Initializing Photoswipe -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Photoswipe -->


    <!-- JS
    ============================================ -->

    <!-- jQuery JS -->
    <script src="~/Assets/website/js/jquery.1.12.4.min.js"></script>

    <!-- Popper JS -->
    <script src="~/Assets/website/js/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Assets/website/js/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="~/Assets/website/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="~/Assets/website/js/main.js"></script>

</body>

<!-- Mirrored from d29u17ylf1ylz9.cloudfront.net/ororus-v1/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 24 Aug 2018 03:22:09 GMT -->
</html>